@charset "UTF-8";
* {
  Margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgb(20, 172, 83), rgb(144, 233, 132));
}

.logoBaltho {
  width: 10rem;
  position: static;
}

#encabezado {
  text-align: center;
  color: rgb(17, 59, 13);
}

.navbar {
  background-image: linear-gradient(to top, #4bdbc3, #3fa04b);
  font-size: 20px;
  color: rgb(17, 59, 13);
}
.navbar .form-control {
  background-image: linear-gradient(to top, #4bdbc3, #3fa04b);
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  width: 100%; /* ancho */
  height: viewport-length; /* alto */
  background-image: linear-gradient(#4bdbc3, #3fa04b);
  padding: 4px;
}
footer #spanfooter {
  justify-content: center;
  align-content: center;
  margin: 4rem;
  padding: 5rem;
  width: 100%;
}
footer #spanfooter h3 {
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
footer #mapa {
  height: 10rem;
  width: 10rem;
  align-content: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
footer .mediosDePago {
  height: 10rem;
  width: 10rem;
  align-content: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
footer #listadecontacto .datoContacto {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: 100;
  text-align: left;
  line-height: 1.5;
  font-size: 15px;
}

@media screen and (max-width: 312px) {
  #encabezado {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/*GRIDS POR ÁREAS*/
/*Activar grid y definir las áreas*/
#grillaUnica {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "section section section" "presentacion presentacion presentacion" "recomendados recomendados aside" "footer footer footer";
  height: 100vh;
  margin: 10px;
  /*Espacio entre columnas*/
  column-gap: 8px;
  /*Espacio entre filas*/
  row-gap: 8px;
}

#carrusel {
  grid-area: section;
  background-image: linear-gradient(to top, #4bdbc3, #3fa04b);
}
#carrusel #carouselExampleIndicators {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#presentacion {
  grid-area: presentacion;
  color: rgb(15, 17, 16);
  text-align: center;
  line-height: 1.5;
  border-style: solid;
  background-color: rgb(77, 226, 169);
}

#recomendados {
  grid-area: recomendados;
  background-image: linear-gradient(#3fa04b, #4bdbc3);
}
#recomendados .titulo {
  text-align: center;
}
#recomendados span {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#recomendados .card__img {
  border-style: solid;
  align-content: center;
  height: 8rem;
  width: 8rem;
}
#recomendados .card {
  font-size: medium;
  border-style: solid;
  color: black;
  width: 12rem; /* ancho */
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#4bdbc3, #3fa04b);
  transition: all 2s;
}
#recomendados .card:hover {
  height: 25rem;
  width: 15rem;
}
#recomendados .card__nombrePlanta {
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
#recomendados .card__precio {
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
#recomendados .card__tipoPlanta {
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
#recomendados .card__boton {
  bottom: auto;
  line-height: 1.5;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

aside {
  grid-area: aside;
  display: flex;
  background-image: linear-gradient(#4bdbc3, #e2ec80);
}

/*inicio adaptacion mobile */
@media screen and (max-width: 312px) {
  #grillaUnica {
    display: flex;
    flex-direction: column;
  }
  #recomendados {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
  }
  #recomendados span {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/*comienzo estilo contacto*/
#formularioDeContacto {
  display: flex;
  flex-direction: row;
  font-size: medium;
  border-style: solid;
  width: 500px; /* ancho */
  height: 600px; /* alto */
  background-color: #96E072;
  padding: 20px;
  margin: 20px;
  background-image: linear-gradient(#4bdbc3, #3fa04b);
}
#formularioDeContacto #nombre:focus {
  width: 800px;
}
#formularioDeContacto #email:focus {
  width: 800px;
}
#formularioDeContacto #mensaje:focus {
  width: 800px;
}

/*fin estilo  contacto*/
/*comienzo estilo productos*/
#productos h2 {
  text-align: center;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

#plantasInterior {
  display: flex;
  flex-wrap: wrap;
}

.cardProducto {
  font-size: medium;
  border-style: solid;
  width: 12rem; /* ancho */
  background-color: #96E072;
  padding: 10px;
  margin: 15px;
  align-items: center;
  background-image: linear-gradient(#4bdbc3, #3fa04b);
  transition: all 2s;
}

.cardProducto:hover {
  height: 25rem;
  width: 15rem;
}

.cardProductoImg {
  border-style: solid;
  height: 8rem;
  width: 8rem;
  align-content: center;
  justify-content: center;
}

.card__descripcionPlanta, .card__cuidados, .card__precio {
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

.card__boton {
  bottom: auto;
  line-height: 1.5;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*fin estilo productos*/
/*comienzo estilo quienes somos*/
h3 {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

#proposito {
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

.fotoPresentacion {
  height: 60%;
  width: 100%;
}

/*fin estilo quienes somos*/

/*# sourceMappingURL=style.css.map */
