/*GRIDS POR ÁREAS*/
  /*Activar grid y definir las áreas*/
  #grillaUnica {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "section section section" 
    "presentacion presentacion presentacion" 
    "recomendados recomendados aside" 
    "footer footer footer";
    height: 100vh;
    margin: 10px;
    /*Espacio entre columnas*/
    column-gap: 8px;
    /*Espacio entre filas*/
    row-gap: 8px;
  }
  
  
  #carrusel {
    grid-area: section;
    background-image: linear-gradient(to top, #4bdbc3, #3fa04b);
  
  
  #carouselExampleIndicators {
    display: block;
    width: 80%;
    margin: 0 auto;
  }}
  
  #presentacion {
    grid-area: presentacion;
    color: rgb(15, 17, 16);
    text-align: center;
    line-height: 1.5;
    border-style: solid;
    background-color: rgb(77, 226, 169);
  }
  
  #recomendados {
    grid-area: recomendados;
    background-image: linear-gradient(#3fa04b, #4bdbc3);
  
     .titulo {
    text-align: center;
  }
   span {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
    .card__img {
        border-style: solid;
        align-content: center;
        height: 8rem;
        width: 8rem;
      } 
      .card {
    font-size: medium;
    border-style: solid;
    color: black;
    width: 12rem; /* ancho */
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#4bdbc3, #3fa04b);
    transition: all 2s;
     }
  
  
  .card:hover {
    height: 25rem;
    width: 15rem;
  }
  
  .card__nombrePlanta {
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;  }
 
   .card__precio {
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
  } 
  
  .card__tipoPlanta {
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
  } 
 .card__boton {
    bottom: auto;
    line-height: 1.5;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }}
  
 
  aside {
    grid-area: aside;
    display: flex;
    background-image: linear-gradient(#4bdbc3, #e2ec80);
  }
  
 
  /*inicio adaptacion mobile */
  @media screen and (max-width: 312px) {
    #grillaUnica {
      display: flex;
      flex-direction: column;
    }
 
    #recomendados {
      @include flex-centrado;
      border-style: solid;
    } 
  
    #recomendados span {
     @include flex-centrado; 
    }
  }
 
  
 